<div class="kode_banner">
  <ul class="bxslider">
    <li>
      <div class="hidden-xs hidden-sm">
          <div class="kode_caption">
            <h6>Eduskuntavaalit 2019</h6>
            <h2>Tavoitteena <br /><span> hyvä elämä </span> </h2>
            <p>Tervetuloa kampanjaan hyvän elämän, työn ja tasa-arvon puolesta</p>
          </div>
        <img style="    width: auto;
            height: 500px;
            margin-left: 100px;
            margin-top: 150px;
            float: left;" src="assets/10-Edit.jpg" alt="Marko Iltanen">
        </div>
      <div class="hidden-md hidden-lg">
        <img src="assets/10-Edit.jpg" alt="Marko Iltanen">
        <div class="kode_caption">
          <h6>Eduskuntavaalit 2019</h6>
          <h2>Tavoitteena <br /><span> hyvä elämä </span> </h2>
        </div>
      </div>
    </li>
  </ul>

</div>