<div class="kode_banner">
  <ul class="bxslider">
    <li>
      <img src="assets/rintakuva.jpg" alt="Banner Image Here">
      <div class="kode_caption">
        <h6>Eduskuntavaalit 2018</h6>
        <h2>Sinun äänesi <br /><span> Voima </span> </h2>
        <p>Käytä ääntäsi. Se on ainut tapa jolla voit vaikuttaa.</span> </p>
      </div>
    </li>
  </ul>

</div>