<section class="kode_latest_wrk_bg">
  <div class="container">
    <div class="kode_hdg_1">
      <h4>Kohtaamisia</h4>
    </div>

    <div class="kode_latest_galry">
      <ul class="kode_tab_lnk filter-item" id="filterable-item-filter-1">
        <li class="active"><a data-value="all" href="#">All</a></li>
        <li><a data-value="1" href="#">Rauma</a></li>
        <li><a data-value="2" href="#">Pori</a></li>
        <li><a data-value="3" href="#">Nakkila</a></li>
        <li><a data-value="4" href="#">Harjavalta</a></li>
        <li><a data-value="5" href="#">Eura</a></li>
      </ul>
    </div>
  </div>

  <!--Gallery List Wrap Start-->
  <div id="filterable-item-holder-1" class="filterable_container">
    <div class="home_gallery filterable-item all 1">
      <div class="kode_galry_item">
        <figure>
          <img src="assets/latest-wrk-01.jpg" alt="Image Here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/latest-wrk-01.jpg"><i class="icon-add52"></i></a>
          </figcaption>
        </figure>
        <div class="kode_galry_des">
          <p>Rauma </p>
          <h6>Toritapahtuma 12.04</h6>
        </div>
      </div>
    </div>

    <div class="home_gallery filterable-item all 1">
      <div class="kode_galry_item">
        <figure>
          <img src="assets/latest-wrk-02.jpg" alt="Image Here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/latest-wrk-02.jpg"><i class="icon-add52"></i></a>
          </figcaption>
        </figure>
        <div class="kode_galry_des">
          <p>Rauma </p>
          <h6>Lastentapahtuma 15.04</h6>
        </div>
      </div>
    </div>

    <div class="home_gallery filterable-item all 2">
      <div class="kode_galry_item">
        <figure>
          <img src="assets/latest-wrk-05.jpg" alt="Image Here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/latest-wrk-05.jpg"><i class="icon-add52"></i></a>
          </figcaption>
        </figure>
        <div class="kode_galry_des">
          <p>Pori </p>
          <h6>Vaalibussikiertue</h6>
        </div>
      </div>
    </div>

    <div class="home_gallery filterable-item all 2 3 4">
      <div class="kode_galry_item">
        <figure>
          <img src="assets/latest-wrk-04.jpg" alt="Image Here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/latest-wrk-04.jpg"><i class="icon-add52"></i></a>
          </figcaption>
        </figure>
        <div class="kode_galry_des">
          <p>Foreign </p>
          <h6>Sed ut perspiciatis</h6>
        </div>
      </div>
    </div>

    <div class="home_gallery filterable-item all 2 1 4 5">
      <div class="kode_galry_item">
        <figure>
          <img src="assets/latest-wrk-05.jpg" alt="Image Here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/latest-wrk-05.jpg"><i class="icon-add52"></i></a>
          </figcaption>
        </figure>
        <div class="kode_galry_des">
          <p>Foreign </p>
          <h6>Sed ut perspiciatis</h6>
        </div>
      </div>
    </div>

    <div class="home_gallery filterable-item all 2 1 5">
      <div class="kode_galry_item">
        <figure>
          <img src="assets/latest-wrk-06.jpg" alt="Image Here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/latest-wrk-06.jpg"><i class="icon-add52"></i></a>
          </figcaption>
        </figure>
        <div class="kode_galry_des">
          <p>Foreign </p>
          <h6>Sed ut perspiciatis</h6>
        </div>
      </div>
    </div>

    <div class="home_gallery filterable-item all 2 1 3 5">
      <div class="kode_galry_item">
        <figure>
          <img src="assets/latest-wrk-07.jpg" alt="Image Here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/latest-wrk-07.jpg"><i class="icon-add52"></i></a>
          </figcaption>
        </figure>
        <div class="kode_galry_des">
          <p>Foreign </p>
          <h6>Sed ut perspiciatis</h6>
        </div>
      </div>
    </div>

    <div class="home_gallery filterable-item all 2 1 3 5">
      <div class="kode_galry_item">
        <figure>
          <img src="assets/latest-wrk-08.jpg" alt="Image Here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/latest-wrk-08.jpg"><i class="icon-add52"></i></a>
          </figcaption>
        </figure>
        <div class="kode_galry_des">
          <p>Foreign </p>
          <h6>Sed ut perspiciatis</h6>
        </div>
      </div>
    </div>
  </div>
  <!--Gallery List Wrap Start-->

</section>