<section class="kode_welcome_bg">
  <div class="container">

    <ul class="kode_tab_lnk nav nav-tabs" id="tabs" data-tabs="tabs">
      <li class="active"><a data-toggle="tab" href="#about">Marko Iltanen</a></li>
      <li><a data-toggle="tab" href="#vission">Visio</a></li>
      <li><a data-toggle="tab" href="#plan">Suunnitelma</a></li>
    </ul>

    <div class="kode_wel_outr_wrap tab-content" id="my-tab-content">
      <div class="row tab-pane active" id="about">
        <div class="hidden-xs hidden-sm col-md-5">
          <div class="kode_welcome">
            <figure>
              <img src="assets/rintakuva.jpg" style="border:2px solid #CCC" alt="Image Here">
            </figure>
          </div>
        </div>

        <div class="col-md-7">
          <div class="kode_wel_demo_des">
            <h6>Marko Iltanen</h6>
            <h4>Kuka min채 olen?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

      </div>

      <div class="row tab-pane" id="vission">
        <div class="col-md-5">
          <div class="kode_welcome">
            <figure>
              <img src="assets/rintakuva.jpg" style="border:2px solid #CCC" alt="Image Here">
            </figure>
          </div>
        </div>

        <div class="col-md-7">
          <div class="kode_wel_demo_des">
            <h6>Visio</h6>
            <h4>Visioni vuosista 2019-2013</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

      </div>

      <div class="row tab-pane" id="plan">
        <div class="col-md-5">
          <div class="kode_welcome">
            <figure>
              <img src="assets/rintakuva.jpg" style="border:2px solid #CCC" alt="Image Here">
            </figure>
          </div>
        </div>

        <div class="col-md-7">
          <div class="kode_wel_demo_des">
            <h6>Suunnitelman</h6>
            <h4>Mit채 teen, jos p채채sen eduskuntaan?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
