<section class="kode_welcome_bg">
  <div class="container">

    <ul class="kode_tab_lnk nav nav-tabs" id="tabs" data-tabs="tabs">
      <li class="active"><a data-toggle="tab" href="#about">Marko Iltanen</a></li>
    </ul>

    <div class="kode_wel_outr_wrap tab-content" id="my-tab-content">
      <div class="row tab-pane active" id="about">
        <div class="hidden-xs hidden-sm col-md-5">
          <div class="kode_welcome">
            <figure>
              <img src="assets/12-Edit.jpg" style="border:2px solid #CCC" alt="Image Here">
            </figure>
          </div>
        </div>

        <div class="col-md-7">
          <div class="kode_wel_demo_des">
            <h6>Marko Iltanen</h6>
            <h4>Kuka minä olen?</h4>
            <p>
              Olen 38-vuotias mies Eurajoelta ja Oras Group Oy:n Rauman tehtaan pääluottamusmies. Tehtäviini kuuluu myös konsernin eurooppaneuvoston työkomitean puheenjohtajan tehtävät.
              Olen toiminut useissa tehtävissä kunnallispolitiikassa ja ammattiyhdistysliikkeessä jo noin 10 vuoden ajan.
              Työurani olen aloittanut jo 15-vuotiaana kesätöissä paikallisessa metalliyrityksessä ja työkokemusta on sekä pienistä, että isoista yrityksistä.
            </p>
            <p>
              <b>Taustaa</b><br />
              Olen syntynyt Raumalla ja asunut siellä lähes koko ikäni. Koulutukseltani olen automaatioasentaja. Olen aloittanut kaksi vuotta sitten opiskelun uudelleen. Opiskelen nyt englanninkielellä logistiikkaa Satakunnan ammattikorkeakoulussa.
              Politiikkaan lähdin jo parikymppisenä, koska minussa on aina ollut vahva vaikuttamisen tahto. Pääluottamusmiehenkin työ tuntui jo heti alussa minusta luontevalta, vaikka vaatiikin ajoittan minulta paljon.
              Päätöksenteon pitää olla faktoihin perustuvaa ja otankin aina asioista selvää ennen päätöstä. En voi sanoa, että tiedän kaikesta kaiken. Se on mielestäni mahdotonta, mutta päätöksenteossa pitää luottaa asiantuntijoihin ja lopullinen päätös tehdään arvojen mukaan. Valitaan siis yleensä monesta eri vaihtoehdosta se sopivin.
              Juuri tästä syystä olen Demari. Tässä puolueessa päätökset tehdään ihmistä kunnioittaen ja yhdessä sopimalla. Siihen on helppo samaistua.
              Nykyisin asun perheeni kanssa Eurajoella. Kovin kauas ei siis kotipitäjästä ole päästy, eikä ole kyllä koskaan ollut tarvekaan. Rauma ja Satakunta ovat hyviä paikkoja elää ja asua.

            </p>
            <p>
              <b>Arvoni</b><br />
              Minulle keskeisiä arvoja ovat solidaarisuus, reiluus sekä luottamus. Olemme jokainen erilaisia ja siksi kaikki asiat eivät aina suju kaikilta. Siksi on luotava sellaista politiikkaa joka ottaa erilaiset ihmiset ja elämäntilanteet huomioon.

            </p>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
