<section class="kode_politician_bg">
  <div class="container">

    <div class="kode_hdg_1">
      <h6>Mitä, missä ja</h6>
      <h4>Milloin?</h4>
    </div>

    <ul class="kode_camp_outr_wrap">
      <li>
        <div class="kode_campagin_lst">
          <div class="kode_campgn_lst1">
            <div class="kode_cam_date">
              <h4>12</h4>
              <h6>Mar</h6>
            </div>

            <div class="kode_lst1_des">
              <h6>Pystykaffella</h6>
              <ul>
                <li><i class="fa fa-clock-o"></i>6:30 pm</li>
                <li><i class="fa fa-map-marker"></i>Tori Pystykahvila, Rauma</li>
              </ul>
              <p>Ehdokas tavattavissa Rauman pystykahvilassa, tule juttelemaan päivän polttavista kysymyksistä ja aiheista, jotka askarruttavat juuri sinua!</p>

            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="kode_campagin_lst">
          <div class="kode_campgn_lst2">
            <div class="kode_lst1_des">
              <h6>Lehdistötilaisuus</h6>
              <ul>
                <li><i class="fa fa-clock-o"></i>12:30 pm</li>
                <li><i class="fa fa-map-marker"></i>Mediatalo, Rauma</li>
              </ul>
              <p>Yleinen lehdistötilaisuus kaikille median edustajille. Tilaisuuden kesto 20 minuuttia. Mikäli teillä on kysymyslistoja, toivomme niitä etukäteen aikapulan vuoksi.</p>
            </div>

            <div class="kode_cam_date">
              <h4>28</h4>
              <h6>Nov</h6>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
</section>