<!--What we Do Wrap Start-->
<div class="kode_wht_otr_wrap">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-5 face-bg-opacity">
      <img src="assets/8-Edit.jpg" class="face-bg" />
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="kode_wht_des">
        <h6>Minun</h6>
        <h4>Tavoitteeni</h4>
        <ul>
          <li>
            <span><i class="icon-justice4"></i></span>
            <div class="kode_wht_icon_des">
              <h6>
                Vientiteollisuuden edellytykset kuntoon
              </h6>
              <p>
                Tavoitteena on parantaa vientiteollisuuden kilpailukykyä reilulla ja ihmisiä kunnioittavalla tavalla. Suomella on jo valmiiksi takamatkaa verrattuna kilpailijamaihimme. Sähkön hintakilpailuun osallistumalla voimme edesauttaa teollisuutta merkittävällä tavalla.
              </p>
            </div>
          </li>

          <li>
            <span><i class="icon-inspiration"></i></span>
            <div class="kode_wht_icon_des">
              <h6>
                Koulutus turvattava kaikille
              </h6>
              <p>
                Edellisen hallituksen koulutusleikkaukset on peruttava. Niiden jäljiltä on maassamme syntynyt koulutusvaje, joka haittaa yrityksien kasvua. Lisäksi on panostettava jo peruskoulussa syrjäytymisen ehkäisyyn, osaavaa henkilökuntaa lisäämällä.
              </p>
            </div>
          </li>

          <li>
            <span><i class="icon-progress"></i></span>
            <div class="kode_wht_icon_des">
              <h6>
                8-tien perusparannus
              </h6>
              <p>
                Valtatien perusparannus on saatettava seuraavalla vaalikaudella loppuun. On todella sääli, että maamme vilkkaimpiin kuuluva tieosuus sisältää vieläkin lukuisia vaaranpaikkoja. Satakuntalainen teollisuus tarvitsee pikaisesti päätöksiä ja toimia asian korjaamiseksi.
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<!--What we Do Wrap End-->