<!--What we Do Wrap Start-->
<div class="kode_wht_otr_wrap">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-5 face-bg-opacity">
      <img src="assets/face.jpg" class="face-bg" />
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="kode_wht_des">
        <h6>kauden 2019-2013</h6>
        <h4>Tavoitteeni</h4>
        <ul id="bxslider">
          <li>
            <a href="#"><span><i class="icon-justice4"></i></span></a>
            <div class="kode_wht_icon_des">
              <h6><a href="#">Työntekijän oikeudet</a></h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
            </div>
          </li>

          <li>
            <a href="#"><span><i class="icon-inspiration"></i></span></a>
            <div class="kode_wht_icon_des">
              <h6><a href="#">Uudistaminen</a></h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
            </div>
          </li>

          <li>
            <a href="#"><span><i class="icon-hospital35"></i></span></a>
            <div class="kode_wht_icon_des">
              <h6><a href="#">SOTE</a></h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
            </div>
          </li>

          <li>
            <a href="#"><span><i class="icon-progress"></i></span></a>
            <div class="kode_wht_icon_des">
              <h6><a href="#">Hyvinvointi</a></h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<!--What we Do Wrap End-->