<!--Testimonial Wrap Start-->
<section class="kode_testimonial_bg">
  <div class="container">

    <div class="kode_hdg_1">
      <h6>Tesitmoinals</h6>
      <h4>What poeple Say About us</h4>
    </div>

    <div id="owl-demo" class="owl-carousel owl-theme kode_testimonial_wrap">
      <div class="item">
        <div class="kode_testi_wrap">
          <figure>
            <img src="assets/testimonial-01.png" alt="Image Here">
          </figure>
          <p>Thank you for all your help and assistance over the years. I would have no hesitation in voting for you guys. Thank you</p>
          <a href="#">David Andersion</a>
        </div>
      </div>

      <div class="item">
        <div class="kode_testi_wrap">
          <figure>
            <img src="assets/testimonial-02.png" alt="Image Here">
          </figure>
          <p>Your assistance was one of the highlights in my campaign! Amazed by your ability to transform my thoughts into a focused message</p>
          <a href="#">Joanna Doe</a>
        </div>
      </div>

      <div class="item">
        <div class="kode_testi_wrap">
          <figure>
            <img src="assets/testimonial-01.png" alt="Image Here">
          </figure>
          <p>They were involved in nearly every aspect of the campaign strategy and execution. The results exceeded my highest expectations. </p>
          <a href="#">Matt Jefferson</a>
        </div>
      </div>

      <div class="item">
        <div class="kode_testi_wrap">
          <figure>
            <img src="assets/testimonial-02.png" alt="Image Here">
          </figure>
          <p>Thank you for your support and regular updates. This really is inspiring, good job! I totally love the theme. It makes my job so much easier</p>
          <a href="#">Ricky Martinez</a>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Testimonial Wrap End-->