<!--Testimonial Wrap Start-->
<section class="kode_testimonial_bg">
  <div class="container">

    <div class="kode_hdg_1">
      <h6>Mainintoja</h6>
      <h4>Mitä minusta sanotaan?</h4>
    </div>

    <div id="owl-demo" class="owl-carousel owl-theme kode_testimonial_wrap">
      <% if @testimonials.count < 1 %>
        <h4 style="text-align:center;">Woops, ei mainintoja :(</h4>
      <% else %>
          <% @testimonials.each do |t| %>
            <div class="item">
              <div class="kode_testi_wrap">
                <figure>
                  <img src="<%= t.picture.url(:thumb) %>" alt="<%= t.text %>">
                </figure>
                <p><%= t.text %></p>
                <a href="#"><%= t.name %></a>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</section>
<!--Testimonial Wrap End-->