<!--Video & Audio Wrap Start-->
<div class="kode_video_bg">
  <div id="owl-demo2" class="owl-carousel owl-theme kode_video_list">
    <div class="item">
      <div class="kode_audio_wrap">
        <figure>
          <img src="assets/video-01.jpg" alt="Image here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/video-01.jpg"><i class="fa fa-play"></i></a>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="item">
      <div class="kode_audio_wrap">
        <figure>
          <img src="assets/video-03.jpg" alt="Image here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/video-03.jpg"><i class="fa fa-play"></i></a>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="item">
      <div class="kode_audio_wrap">
        <figure>
          <img src="assets/video-04.jpg" alt="Image here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/video-04.jpg"><i class="fa fa-play"></i></a>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="item">
      <div class="kode_audio_wrap">
        <figure>
          <img src="assets/video-05.jpg" alt="Image here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/video-05.jpg"><i class="fa fa-play"></i></a>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="item">
      <div class="kode_audio_wrap">
        <figure>
          <img src="assets/video-06.jpg" alt="Image here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/video-06.jpg"><i class="fa fa-play"></i></a>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="item">
      <div class="kode_audio_wrap">
        <figure>
          <img src="assets/video-07.jpg" alt="Image here">
          <figcaption>
            <a data-rel="prettyPhoto[]" href="assets/video-07.jpg"><i class="fa fa-play"></i></a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<!--Video & Audio Wrap End-->