<div class="kode_navigation_outr_wrap">
  <div class="container">
    <!--Logo Wrap Start-->
    <div class="kode_logo">
      <a href="index.html"><img width=50px src="https://sdp.fi/wp-content/uploads/2015/11/sdp_logo_nega_rgb.png" alt="Sosiaalidemokraatit"></a>
    </div>
    <!--Logo Wrap Start-->

    <!--Navigation Wrap Start-->
    <div class="kode_ui_element">

      <!--Navigation Wrap Start-->
      <div class="kode_menu">
        <ul>
          <li class="active"><a href="/">Koti</a></li>
          <li><a href="#about">Tietoa</a></li>
          <li><a href="#">Tavoitteeni</a></li>
          <li><a href="#">Kohtaamisia</a></li>
          <li><a href="#">Tapahtumat</a></li>
        </ul>
      </div>
      <!--Navigation Wrap End-->

      <!--DL Menu Start-->
      <div id="kode-responsive-navigation" class="dl-menuwrapper">
        <button class="dl-trigger">Avaa</button>
        <ul class="dl-menu">
          <li><a href="#about">Tietoa</a></li>
          <li><a href="#">Tavoitteeni</a></li>
          <li><a href="#">Kohtaamisia</a></li>
          <li><a href="#">Tapahtumat</a></li>
        </ul>
      </div>

    </div>
    <!--Navigation Wrap End-->

  </div>
</div>