<div class="kode_top_strip">
  <div class="container">
    <div class="kode_cnt_info">
      <ul>
        <li><i class="fa fa-envelope"></i>yhteydenotot@markoiltanen.fi</li>
      </ul>
    </div>

    <div class="kode_scl_icon">
      <ul>
        <li><a href="https://www.facebook.com/MarkoIltanenpoliitikko"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/Marko_80"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</div>