<div class="kode_widgt_outr_wrap">
  <div class="row">
    <%= render '/layouts/footer_components/facebook' %>
    <%= render '/layouts/footer_components/twitter' %>
    <%= render '/layouts/footer_components/recent_events' %>
    <%= render '/layouts/footer_components/gallery' %>
  </div>
</div>