<div class="kode_copyright">
  <p>Copyright © Marko Iltanen 2018 <span><a href="http://www.codecontrol.fi" target="_blank">Codecontrol Oy</a></span> </p>
  <a class="kode-back-top" href="#"><i class="fa fa-angle-up"></i></a>
</div>