<div class="col-md-3">
  <div class="kode_widgt_touch widget_hdg">
    <h5>Facebook</h5>
    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel..</p>
    <ul>
      <li>
        <i class="fa fa-map-marker"></i>
        <div class="kode_widgt_des">
          360 harvest St, North <span> Newyork USA </span>
        </div>
      </li>

      <li>
        <i class="fa fa-phone"></i>
        <div class="kode_widgt_des">
          + 36595-54555
        </div>
      </li>

      <li>
        <i class="fa fa-envelope"></i>
        <div class="kode_widgt_des">
          <a href="#">Info@democracy.com</a>
        </div>
      </li>
    </ul>
  </div>
</div>