<div class="col-md-3">
  <div class="kode_foo_gallery widget_hdg">
    <h5>Kuvat</h5>
    <ul>
      <li><a href="#"><img src="assets/instagram-01.jpg" alt="Image Here"></a></li>
      <li><a href="#"><img src="assets/instagram-02.jpg" alt="Image Here"></a></li>
      <li><a href="#"><img src="assets/instagram-03.jpg" alt="Image Here"></a></li>
      <li><a href="#"><img src="assets/instagram-04.jpg" alt="Image Here"></a></li>
      <li><a href="#"><img src="assets/instagram-05.jpg" alt="Image Here"></a></li>
      <li><a href="#"><img src="assets/instagram-06.jpg" alt="Image Here"></a></li>
    </ul>
  </div>
</div>