<div class="kode_footer_logo">
  <figure>
    <a href="#"><img width=150px src="https://sdp.fi/wp-content/uploads/2015/11/sdp_logo_nega_rgb.png" alt="Image Here"></a>
  </figure>
  <ul>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  </ul>
</div>