<div class="col-md-3">
  <div class="kode_widgt_event widget_hdg">
    <h5>Tapahtumat</h5>
    <ul>
      <li>
        <figure>
          <a href="#"><img src="assets/footer-event-01.jpg" alt="Image here"></a>
        </figure>
        <div class="kode_foo_event_des">
          <a href="#">his is Photoshop's version  of Lorem Ipsum. Proin gravida..</a>
          <span>2 October 2015</span>
        </div>
      </li>

      <li>
        <figure>
          <a href="#"> <img src="assets/footer-event-01.jpg" alt="Image here"></a>
        </figure>
        <div class="kode_foo_event_des">
          <a href="#">his is Photoshop's version  of Lorem Ipsum. Proin gravida..</a>
          <span>2 October 2015</span>
        </div>
      </li>
    </ul>
  </div>
</div>