<div class="kode_site_map">
  <ul>
    <li><a href="/">Etusivulle</a></li>
    <li><a href="#about">Tietoa</a></li>
    <li><a href="#">Tavoitteeni</a></li>
    <li><a href="#">Kohtaamisia</a></li>
    <li><a href="#">Tapahtumat</a></li>
  </ul>
</div>