<div class="kode_site_map">
  <ul>
    <li><a href="/">Etusivulle</a></li>
    <li><a href="#about">Tietoa</a></li>
    <li><a href="#events">Tapahtumat</a></li>
    <li><a href="#news">Uutiset</a></li>
    <li><a href="#press">Lehdistö</a></li>
    <li><a href="#team">Tiimi</a></li>
    <li><a href="#services">Palvelut</a></li>
    <li><a href="#contact">Ota yhteyttä</a></li>
  </ul>
</div>