<div class="col-md-3">
  <div class="kode_widgt_tweets widget_hdg">
    <h5>Twitter</h5>
    <ul>
      <li>
        <i class="fa fa-twitter"></i>
        <div class="kode_widgt_des">
          <a href="#">@ info,</a>
          we have release our
          <span>templates</span> <p> 10 minutes age </p>
        </div>
      </li>

      <li>
        <i class="fa fa-twitter"></i>
        <div class="kode_widgt_des">
          <a href="#">@ info,</a>
          we have release our <span>templates</span> <p> 10 minutes age </p>
        </div>
      </li>
    </ul>
  </div>
</div>