<% get_twitter_feed %>
<div class="col-md-3">
  <div class="kode_widgt_tweets widget_hdg">
    <h5>Twitter</h5>
    <ul>
      <% if @tweets != nil %>
      <% @tweets.each do |tweet| %>
      <li>
        <i class="fa fa-twitter"></i>
        <div class="kode_widgt_des">
          <a href="https://twitter.com/Marko_80">@Marko_80</a>
          <%= tweet.text %>
        </div>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>