
<section class="kode_contact_bg">
  <div class="container">
    <div class="kode_hdg_2">
      <h6>Eduskuntavaalit 2018</h6>
      <h4>Ota yhteyttä</h4>
    </div>

    <div class="row">
      <!--Contact Us Field Wrap Start-->
      <div class="col-md-8">
        <div class="kode_contact_wrap">
          <div class="row">
            <form method="post" class="comments-form" id="contactform">
              <div class="col-md-6">
                <div class="kode_contact_field">
                  <input type="text" name="name" placeholder="Nimesi">
                </div>
              </div>

              <div class="col-md-6">
                <div class="kode_contact_field">
                  <input type="text" name="email" placeholder="Sähköpostiosoitteesi">
                </div>
              </div>

              <div class="col-md-6">
                <div class="kode_contact_field">
                  <input type="text" placeholder="Puhelinnumerosi">
                </div>
              </div>

              <div class="col-md-6">
                <div class="kode_contact_field">
                  <input type="text" placeholder="Aihe">
                </div>
              </div>

              <div class="col-md-12">
                <div class="kode_contact_field">
                  <textarea name="message" placeholder="Viestisi"></textarea>
                </div>
              </div>

              <div class="col-md-12">
                <div class="kode_contact_field">
                  <button>Lähetä</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--Contact Us Field Wrap End-->

      <!--Contact Info Wrap Start-->
      <div class="col-md-4">
        <div class="kode_contact_info kode_contact_wrap">
          <h5>Sähköpostimme</h5>
          <i class="fa fa-envelope-o"></i>
          <div class="kode_contact_des">
            <span><a href="#">yhteydentotot@markoiltanen.fi</a></span>
          </div>
        </div>
      </div>
      <!--Contact Info Wrap End-->

    </div>

  </div>
</section>
