<footer>
  <div class="kode_footer_bg">
    <div class="container">
      <%= render '/layouts/footer_components/logo' %>
      <%= render '/layouts/footer_components/blocks' %>
      <%= render '/layouts/footer_components/sitemap'%>
      <%= render '/layouts/footer_components/copyrights'%>
    </div>
  </div>
</footer>